body {
margin: 0;
padding: 0;
}

.content {
height: 10px;
font-size: 13pt;
text-align: center;
}
.h1
{
font-size: 16pt;
padding: 20 px;
text-align: center;
}
#img
{
height:720px;
}
.h2
{
font-size: 14pt;
padding: 20 px;
height: 10px;
text-align: center;
}
#table
{
margin: auto;
border-width: 2pt;
table-layout: auto;
border-collapse: collapse;
border-spacing: 0;
text-align: center;
}
.tra
{
  padding: 2px;
border-width: 2pt;
}
.tul
{
font-weight: bolder;
background-color: Gainsboro;
}
