body {
margin: 0;
padding: 0;
}
#header {
height: 200px;    
}

.content {
height: 300px;
font-size: 16pt;
text-align: center;
}
.h1
{
font-size: 16pt;
text-align: center;
}
.h2
{
font-size: 14pt;
text-align: center;
}
.table
{
text-align: center;
}
