body {
margin: 0;
padding: 0;
}

.content {
height: 10px;
font-size: 13pt;
text-align: center;
}
.h1
{
font-size: 16pt;
padding: 20 px;
text-align: center;
}
.h2
{
font-size: 14pt;
padding: 20 px;
text-align: center;
vertical-align: top;
}
#table
{
margin: auto;
border-collapse: collapse;
border-width: 2pt;
table-layout: auto;
border-spacing: 0
}
.tra
{
background-color: Gainsboro;
border: 2px solid black;
text-align: center
}
